<h1> Buat kelas </h1>


<%= form_for :kelas, url: kelass_index_path do |f| %>

	  <p>
	    <%= f.label :Mata_Kuliah %><br>
	    <%= f.text_field :MataKuliah %>
	  </p>
	 
	  <p>
	    <%= f.label :SKS %><br>
	    <%= f.text_field :SKS %>
	  </p>

	  <p>
	    <%= f.label :Jam %><br>
	    <%= f.select :Jam, [['07.30','07.30'],['10.00','10.00'],['13.20','13.20'],['15.50','15.50']] %>
	  </p>
	 
	  <p>
	    <%= f.label :Ruangan %><br>
	    <%= f.text_field :ruangan %>
	  </p>

	  <p>
	    <%= f.label :Hari %><br>
	    <%= f.select :hari, [['senin','senin'],['selasa','selasa'],['rabu','rabu'],['kamis','kamis'],['jumat','jumat']] %>
	  </p>

	  <p>
	    <%= f.label :Jumlah_Mahasiswa %><br>
	    <%= f.text_field :JumlahMahasiswa  %>
	  </p>

  <p>
    <%= f.submit %>
  </p>

 <%end%>